<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:mvc="http://www.springframework.org/schema/mvc"
  xmlns:aop="http://www.springframework.org/schema/aop"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

  <!-- 配置自动扫描的包 -->
  <context:component-scan base-package="com"></context:component-scan>
  <!--启用注解驱动的MVC-->
  <mvc:annotation-driven />
  <!-- 全部资源放行 -->
  <mvc:default-servlet-handler/>
  <!--开启后允许使用Spring AOP的@AspectJ注解 如果是纯xml配置 可以不用开启这个声明-->
  <aop:aspectj-autoproxy/>
  <!-- 配置视图解析器 如何把handler 方法返回值解析为实际的物理视图 -->
  <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
    <property name = "prefix" value="/WEB-INF/pages/"></property>
    <property name = "suffix" value = ".jsp"></property>
  </bean>
  <bean id="returnHandler" class="com.ReturnHandler">

  </bean>
  <mvc:interceptors>
    <mvc:interceptor>
      <mvc:mapping path="/**"/><!-- 拦截所有 -->
      <ref bean="returnHandler"/>
    </mvc:interceptor>
  </mvc:interceptors>
</beans>